.layout {
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    width: 100%;
    background-color: blue;
  }

  @media screen and (min-width: 600px) {
    width: 600px;
    background-color: red;
  }
}
