@import './variables';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

// 전역 스타일 설정
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-pretendard;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family: $font-pretendard;
}
